<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pusher</key>
	<dict>
		<key>APP_KEY</key>
		<string>a1234b456c7de8f900gh</string>
		<key>CLUSTER_KEY</key>
		<string>kl6</string>
	</dict>
</dict>
</plist>
